---
import Layout from "../../layouts/Layout.astro";
import ResumeContentTravelex from "../../components/ResumeContentTravelex.astro";
---

<Layout
	title="Resume: Alasdair McCall | alasdair.md"
	canonical="https://alasdair.md/resume-travelex/"
>
	<div class="wrapper resume-page">
		<ResumeContentTravelex />
	</div>
</Layout>
