---
import Layout from '../../layouts/Layout.astro';
import ResumeContent from '../../components/ResumeContent.astro';
---

<Layout title="Resume: Alasdair McCall | alasda.ir" canonical="https://alasda.ir/resume/">
	<div class="wrapper">
		<ResumeContent />
	</div>
</Layout>
