---
import { getCollection } from "astro:content";
import HomeContent from "../components/HomeContent.astro";
import Layout from "../layouts/Layout.astro";

const latestPosts = (await getCollection("posts"))
	.filter((post) => post.id !== "index")
	.sort(
		(a, b) =>
			new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
	)
	.slice(0, 3);
---

<Layout
	title="Alasdair McCall | alasdair.md"
	description="Mobile engineering, product, and AI enablement."
	canonical="https://alasdair.md"
>
	<div class="wrapper">
		<HomeContent latestPosts={latestPosts} />
	</div>
</Layout>
