---
import ResumeContent from "../components/ResumeContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header>
		<div class="wrapper">
			<a href="/" class="site-name">Alasdair McCall</a>
			<div class="print-only header-contact">
				<span>https://alasda.ir</span>
				<span>alasdair.mccall@gmail.com</span>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<ResumeContent />
	</div>
</Layout>
