---
import ResumeContent from "../components/ResumeContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alasdair McCall | alasda.ir" canonical="https://alasda.ir">
	<div class="wrapper">
		<ResumeContent />
	</div>
</Layout>
