---
import Layout from "../../layouts/Layout.astro";
import ResumeContentTargeted from "../../components/ResumeContentTargeted.astro";
---

<Layout
	title="Resume: Alasdair McCall | alasdair.md"
	canonical="https://alasdair.md/resume-targeted/"
>
	<div class="wrapper resume-page">
		<ResumeContentTargeted />
	</div>
</Layout>
