---
import headshot from "../assets/headshot.jpg";
---

<section class="about-me-section">
	<h1>About me</h1>
	<div class="about-me-body">
		<figure class="about-me-headshot">
			<img src={headshot.src} alt="Headshot of Alasdair McCall" />
		</figure>
		<p>
			Mobile engineering leader with strong product instincts and two
			decades of experience in London tech. I’ve spent that time building
			products, leading teams, and more recently helping mobile
			organisations adopt AI in ways that are useful and real.
		</p>
		<p>Occasional public speaker and blogger.</p>
		<p>
			Outside work, I am building Garnish, a personal podcast app, to
			deepen my understanding of full-stack development and the latest AI
			technologies.
		</p>
	</div>
</section>
