---
import FindMeLinks from "./FindMeLinks.astro";
import PortfolioGrid from "./PortfolioGrid.astro";
---

<section class="resume-section">
	<slot name="about" />
</section>

<section class="resume-section">
	<slot name="current" />
</section>

<section class="resume-section">
	<h1>I'm here</h1>
	<FindMeLinks />
</section>

<section class="resume-section">
	<h1>I've done</h1>
	<PortfolioGrid />
</section>

<section class="resume-section">
	<slot name="history" />
</section>
